@import './components/styleVariables/colors';

body, html{
  margin:0;
  height: 100%;
  background: $color-bg;
  #root{
    height: 100%;
  }
}
.App{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
